tests/auxiliarScripts/~$dataImport.xlsx
tests/core/src/catalog-v001.xml
core/edo-sandbox/catalog-v001.xml
core/catalog-v001.xml
edo-sandbox/catalog-v001.xml
core/Pega Skos PrefLabel.bat
core/alteracoes_log_v11.txt
core/correct_pref_labels.py
core/energy-domain-ontology_corrected_v11.ttl
core/extrair_umbilicais.py
core/prefLabels_a_analisar.txt
core/umbilical_classes.txt
release/Flexible Pipes 2.1/
core/edo/
core/energy-domain-ontology_ESTUDO.ttl
core/energy-domain-ontology-shacl_ESTUDO.ttl
core/energy-domain-ontology - Copia.ttl
core/energy-domain-ontology_ESTUDO.properties